.wrapper {
  margin-left: 35%;
  margin-right: 35%;
  padding: 20px;
  background: rgb(238, 238, 238);
  border-radius: 5px;
}

.chat-msg {
  border-bottom: 1px solid black;
}

.text-color {
  color: white;
}
.navbar {
  border-radius: 0;
}

.valid {
  border-color: inherit;
}

.error {
  border-color: red;
}

#sendMess {
  background: #45d887;
}